.collapsible-header #{__('t.q1.heading')}
.collapsible-body.white.padding-all-m
	span #{__('t.q1.p1')}
	br
	br
	span #{__('t.q1.p2')}
	ol
		li(style='list-style-type: decimal')
			| #{__('t.q1.b1')} 
			a(href='https://getshiny.ru') getshiny.ru
		li(style='list-style-type: decimal') #{__('t.q1.b2')}
		li(style='list-style-type: decimal') #{__('t.q1.b3')}
		li(style='list-style-type: decimal') #{__('t.q1.b4')}
		li(style='list-style-type: decimal') #{__('t.q1.b5')}
