.collapsible-header #{__('t.q3.heading')}
.collapsible-body.white.padding-all-m
	span #{__('t.q3.p1')}
	br
	br
	span #{__('t.q3.p2')}
	br
	br
	span #{__('t.q3.p3')}
	br
	br
	span #{__('t.q3.p4')}
	br
	br
	h5.center-align #{__('t.q3.table.heading')}
	table
		thead
			tr
				th.center-align #{__('t.q3.table.c1r1')}
				th.center-align #{__('t.q3.table.c2r1')}
				th.center-align #{__('t.q3.table.c3r1')}
		tbody
			tr
				td.center-align #{__('t.q3.table.c1r2')}
				td.center-align #{__('t.q3.table.c2r2')}
				td.center-align #{__('t.q3.table.c3r2')}
