.collapsible-header #{__('t.q6.heading')}
.collapsible-body.white.padding-all-m
	span #{__('t.q6.p1')}
	ul
		li(style='list-style-type: square') #{__('t.q3.b1')}
		li(style='list-style-type: square') #{__('t.q3.b2')}
		li(style='list-style-type: square') #{__('t.q3.b3')}
		li(style='list-style-type: square') #{__('t.q3.b4')}
		li(style='list-style-type: square') #{__('t.q3.b5')}
