footer.grey.lighten-3
  .container
    .row
      .col.m3.s12
        //- .flow-text.text-darken-3 #{__('t.links')}
        ul
          li
            a.grey-text.text-darken-3.uppercase(href='/clean') #{__('t.order')}
          //- li
            //- a.grey-text.text-darken-3.uppercase(href='/how') #{__('t.how_it_works')}
          li
            a.grey-text.text-darken-3.uppercase(href='/questions') #{__('t.questions')}
          li
            a.grey-text.text-darken-3.uppercase(href='/terms') #{__('t.terms0')}
      .col.m3.s12
        ul
          li
            img(src='images/visa.svg' width=40)
          li
            img(src='images/mastercard.svg' width=40)
      .col.m3.s12
        ul
          li
            a(href='https://www.instagram.com/getshiny' target='_blank')
              img(src='images/facebook.svg' width=40)
          li
            a(href='https://www.facebook.com/getshinyrus' target='_blank')
              img(src='images/instagram.svg' width=40)
      .col.m3.s12.right-align
        ul
          li
            a(href='mailto:help@getshiny.ru') help@getshiny.ru
          li
            a(href='tel:+79263911284"') +7 (926) 391-12-84
          li #{__('t.company.name')}
          li #{__('t.company.address1')}
          li #{__('t.company.address2')}
