footer.grey.lighten-3
  .container
    .row
      .col.l4.s12
        .flow-text.text-darken-3 #{__('t.links')}
        ul
          li
            a.grey-text.text-darken-3.uppercase(href='/clean') #{__('t.order')}
          li
            a.grey-text.text-darken-3.uppercase(href='/how') #{__('t.how_it_works')}
          li
            a.grey-text.text-darken-3.uppercase(href='/questions') #{__('t.questions')}
          li
            a.grey-text.text-darken-3.uppercase(href='/terms') #{__('t.terms')}
      //- .col.l4.s12
      //-   ul
      //-     li Language: #{lang}
      //-     - if (user)
      //-       li User: #{user.email}
