.navbar-fixed
  nav.white
    .nav-wrapper
      a.brand-logo(href='/')
        img.responsive-img(src='images/shiny.png')
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a.btn-flat.blue.lighten-2.white-text(href='/clean') #{__('t.order_now')} 
        li
          a.blue-text.text-lighten-2.uppercase(href='/questions') #{__('t.questions')} 
        - if (user)
          li
            a.grey-text.text-darken-2.uppercase.dropdown-button(data-activates='userDropdown')
             | #{user.email}
             i.material-icons.right arrow_drop_down
        - else
          li
            a.btn-flat.green.lighten-2.white-text(href='/signin') #{__('t.signin')} 
          li
            a.grey-text.text-darken-2.uppercase.lang(lang='en') en
          li
            a.grey-text.text-darken-2.uppercase.lang(lang='ru') Ру

ul#userDropdown.dropdown-content
  li
    a.grey-text.text-darken-2.uppercase(href='/logout') #{__('t.signout')}
  li.divider
  li
    a.grey-text.text-darken-2.uppercase.lang(lang='en') #{__('t.english')}
  li
    a.grey-text.text-darken-2.uppercase.lang(lang='ru') #{__('t.russian')}
