.navbar-fixed
  nav.white
    .nav-wrapper
      a.brand-logo(href='/')
        img.responsive-img(src='images/shiny.png')
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a.btn-flat.blue.lighten-2.white-text(href='/order') #{__('nav.order')} 
        li
          a.blue-text.text-lighten-2.uppercase(href='/how') #{__('nav.how')} 
        - if (user)
          li
            a.grey-text.text-darken-2.uppercase.dropdown-button(data-activates='userDropdown')
             | #{user.email}
             i.material-icons.right arrow_drop_down
        - else
          li
            a.btn-flat.green.lighten-2.white-text(href='/signin') #{__('nav.sign_in')} 
          li
            a.grey-text.text-darken-2.uppercase.lang(lang='en') en
          li
            a.grey-text.text-darken-2.uppercase.lang(lang='ru') ru

ul#userDropdown.dropdown-content
  li
    a.grey-text.text-darken-2.uppercase(href='/logout') #{__('nav.signout')}
  li.divider
  li
    a.grey-text.text-darken-2.uppercase.lang(lang='en') #{__('english')}
  li
    a.grey-text.text-darken-2.uppercase.lang(lang='ru') #{__('russian')}
