extends layout

block content
  .hero-auth.valign-wrapper
    .valign.centered
      form.card#signinForm
        .card-content
          .card-title.grey-text.center-align #{__('t.signin')}
          .row
            .input-field.col.s12
              input#email.validate(type='email' name='email' required)
              label(for='email') #{__('t.email')}
            .input-field.col.s12
              input#password.validate(type='password' name='password' required)
              label(for='password') #{__('t.password')}
            .input-field.col.s12
              .message.red-text.center
              input.btn-wide.btn-large.btn-flat.green.white-text(type='submit' value="#{__('t.signin')}")
          .row
            .col.s6
              a(href='/signup') #{__('t.create_account')}
            .col.s6.right-align
              //- a(href='/forgot') #{__('auth.forgot_password')}
